---
layout: default
---


<div class="post">

    <header class="post-header">
        <h1 class="post-title">{{ page.title }}</h1>
        <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
    </header>

    <article class="post-content">
        {{ content }}
    </article>
    <h2 class=tag-list> Tags</h2>
    <div class="tag-list">
        {% if include.post %}
        {% assign tags = include.post.tags %}
        {% else %}
        {% assign tags = page.tags %}
        {% endif %}
        {% for tag in tags %}
        <a href="{{ site.baseurl }}/tags/#{{ tag }}">{{ tag }}</a>
        {% endfor %}
    </div>
</div>

